body{
  font-family: 'Merriweather', serif;
  background-color: #F9F9F9;
}
/* Custom CSS for footer */
footer {
  background-color: #f8f9fa;
  margin-top: 40px;
  padding: 50px 0 20px;
}
p{
  line-height: 2;
}
.work-history{
}

.work-history ul {
  padding-left: 50px;
}
