*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Merriweather', serif;
  background-color: #F9F9F9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Custom CSS for footer */
.footer {
  background-color: #f8f9fa;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}
p{
  line-height: 2;
}
.work-history{
}

.work-history ul {
  padding-left: 50px;
}
.arrow {
  margin-right: 2px;
}

@media screen and (max-width: 600px) {
  .work-header {
    display: block; /* Change display to block for smaller screens */
  }
}
h6{
  line-height: 4;
  padding: 2px;
  display: block;
}

.content{
  flex: 1;
}
